.btn {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.btn-secondary {
    background: #6c757d;
    color: white;
}

.btn-success {
    background: #198754;
    color: white;

}
.file{
    margin-right: 10px;
    margin-top: 10px;
    margin-right: 8px;  
}
.fileName {
    display: none;
    margin-right: 10px;
    padding: 8px;
    border-radius: 15px;
    margin-left: 60px;
    border: 1px solid rgba(255, 255, 255, 0.322);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.37);
    background-color: #ffffff59;
}

.active {
    display: block;
}

.rounded-circle {
    border-radius: 50%;
}
